apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: quilr-backend-db
  namespace: quilr-onboard
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: microk8s-hostpath
